@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 74.03 60.78% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 10.85 81.03% 54.51%;
    --destructive-foreground: 0 0% 98%;
    --ring: 74.03 60.78% 40%;
    --chart-1: 46.95 94.47% 50.39%;
    --chart-2: 271.01 48.63% 35.88%;
    --chart-3: 233.49 52.87% 30.78%;
    --chart-4: 195.63 79.34% 52.55%;
    --chart-5: 23.18 68.04% 38.04%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 74.03 60.78% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 4.03 92.55% 31.57%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 74.03 60.78% 40%;
    --chart-1: 46.95 94.47% 50.39%;
    --chart-2: 271.01 48.63% 35.88%;
    --chart-3: 233.49 52.87% 30.78%;
    --chart-4: 195.63 79.34% 52.55%;
    --chart-5: 23.18 68.04% 38.04%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
