@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

/* Fonts */
@font-face {
	font-family: 'Museo Sans';
	src: url('/fonts/MuseoSans_500-pl-webfont.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo';
	src: url('/fonts/Museo300-Regular-pl-webfont.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo';
	src: url('/fonts/Museo500-Regular-pl-webfont.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo';
	src: url('/fonts/Museo700-Regular-pl-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: 'Museo Sans', 'Trebuchet MS', sans-serif;
	font-weight: 500;

	--primary-color: #87a428;
	--primary-color-light: #afca0b;
	--primary-color-dark: #587d18;

    --color-blue: #252e78;
    --color-blue-light: #194093;

    --color-red: #e30613;
    --color-red-light: #e94f2D;

    --color-yellow: #f8c409;

    --color-purple: #5d2f88;
    --color-purple-light: #80539b;
}

body {
	font-family: 'Museo Sans', 'Trebuchet MS', sans-serif;
	font-weight: 500;
}

h1,
h2 {
	font-family: 'Museo', 'Trebuchet MS', sans-serif;
	color: var(--primary-color);
}

.header-title {
	color: var(--primary-color);
	font-family: 'Museo', 'Trebuchet MS', sans-serif;
}
